@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

@font-face {
  font-family: Jalnan;
  src: url(../font/Jalnan2.otf);
}

html {
  overflow: hidden;
  position: relative;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-size: 10px;
  font-family: "Poppins", "Jalnan", sans-serif;
  text-transform: uppercase;
  color: #2b2b2b;
  cursor: none;
}

.flex {
  display: flex;
}

/* header */
header {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../images/bg_clouds.png) no-repeat;
  background-size: cover;
  transition: 0.1s ease-out;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  transform: translate(-30%, -25%);
}

.wrap {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 1920px;
  height: 70px;
  padding: 0 70px;
  align-items: center;
  justify-content: space-between;
  background: rgba(181, 214, 233, 0.3);
}

/* nav */
.gnb li {
  padding: 0 60px;
  font-size: 1.6rem;
  font-weight: 600;
}

.gnb li a {
  position: relative;
  display: block;
}

.gnb li a:hover::after {
  position: absolute;
  display: block;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: rgb(1, 109, 171);
  animation: hover 0.2s linear;
}

@keyframes hover {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.wrap p {
  font-size: 1.6rem;
  font-weight: 600;
}

.wrap p:hover {
  background: #016dab;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* typing */
.intro {
  height: 100vh;
  display: grid;
  place-items: center;
}

.intro {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro h2 {
  font-family: "Jalnan", sans-serif;
  font-size: 8rem;
  font-style: italic;
  line-height: 1.4;
  margin: auto;
  color: #fff;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 70px;
  bottom: 30%;
  left: 14%;
  font-family: "Jalnan", sans-serif;
}

.wrapper p {
  position: absolute;
  top: -60px;
}

.typing {
  position: absolute;
  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  font-size: 1.8rem;
  border-right: 3px solid #fff;
  animation: typing 2.3s steps(20), blink 0.6s step-end infinite alternate;
}

@keyframes typing {
  0% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.wrapper p {
  position: absolute;
  width: 720px;
  margin-top: 3%;
  font-size: 1.8rem;
  color: #fff;
}

/* scroll_down */
.scroll_down_box {
  opacity: 1;
  transition: opacity 0.3s ease 1s;
}

.scroll_down {
  position: absolute;
  width: 3.4rem;
  height: 5.5rem;
  left: 50%;
  bottom: 12%;
  transform: translateX(-50%);
  color: #016dab;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  border: 2px solid #016dab;
  border-radius: 25px;
}

.scroll {
  position: absolute;
  content: "";
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  top: 0.8rem;
  left: 50%;
  background: #016dab;
  border-radius: 100%;
  transform: translateX(-50%);
  transition: width 0.3s ease 0s, height 0.3s ease 0s;
  animation: cursorAni 1.2s ease-in-out 0s infinite;
}

@keyframes cursorAni {
  0% {
    top: 0.8rem;
  }
  85% {
    top: 1.6rem;
  }
  100% {
    top: 1.6rem;
  }
}

.scroll_down_box span {
  position: absolute;
  width: 10rem;
  top: 6rem;
  color: #016dab;
  font-size: 1.4rem;
  text-align: center;
}

/* main */
/* about */
.about_content {
  z-index: -1;
  position: absolute;
  top: 23%;
  width: 100%;
  justify-content: center;
  gap: 30px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}

.about_left,
.about_right {
  width: 28%;
}

.about_left h3,
.about_right h3 {
  margin: 60px 0 50px;
  border-bottom: 2px solid #2b2b2b;
}

.about_left .txt_wrap,
.about_right .txt_wrap {
  padding-left: 30px;
}

.about_left .txt_wrap li {
  margin-bottom: 30px;
}

.about_left .txt_wrap p .first::before {
  position: absolute;
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  top: 17.8%;
  left: 21.3%;
  border: 1px solid #016dab;
  border-radius: 50%;
  background-color: #fff;
}

.about_left .txt_wrap p .second::before {
  position: absolute;
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  top: 26.3%;
  left: 21.3%;
  border: 1px solid #016dab;
  border-radius: 50%;
  background-color: #fff;
}

.about_left .txt_wrap p .third::before {
  position: absolute;
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  top: 35%;
  left: 21.3%;
  border: 1px solid #016dab;
  border-radius: 50%;
  background-color: #fff;
}

.about_left .txt_wrap p .four::before {
  position: absolute;
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  top: 56.9%;
  left: 21.3%;
  border: 1px solid #016dab;
  border-radius: 50%;
  background-color: #fff;
}

.about_left .txt_wrap p .five::before {
  position: absolute;
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  top: 63%;
  left: 21.3%;
  border: 1px solid #016dab;
  border-radius: 50%;
  background-color: #fff;
}

.about_left .txt_wrap p .six::before {
  position: absolute;
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  top: 69.3%;
  left: 21.3%;
  border: 1px solid #016dab;
  border-radius: 50%;
  background-color: #fff;
}

.about_left .txt_wrap p .seven::before {
  position: absolute;
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  top: 75.5%;
  left: 21.3%;
  border: 1px solid #016dab;
  border-radius: 50%;
  background-color: #fff;
}

.about_left .txt_wrap p .eight::before {
  position: absolute;
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  top: 81.9%;
  left: 21.3%;
  border: 1px solid #016dab;
  border-radius: 50%;
  background-color: #fff;
}

.about_left .txt_wrap p .nine::before {
  position: absolute;
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  top: 88%;
  left: 21.3%;
  border: 1px solid #016dab;
  border-radius: 50%;
  background-color: #fff;
}

.about_left .txt_wrap p .ten::before {
  position: absolute;
  display: block;
  content: "";
  width: 13px;
  height: 13px;
  top: 94.2%;
  left: 21.3%;
  border: 1px solid #016dab;
  border-radius: 50%;
  background-color: #fff;
}

.about_left .txt_wrap p .first::after {
  position: absolute;
  display: block;
  content: "";
  height: 60px;
  top: 19.6%;
  left: 21.65%;
  border-left: 1px solid #016dab;
  box-sizing: border-box;
}

.about_left .txt_wrap p .second::after {
  position: absolute;
  display: block;
  content: "";
  height: 60px;
  top: 28.1%;
  left: 21.65%;
  border-left: 1px solid #016dab;
  box-sizing: border-box;
}

.about_left .txt_wrap p .four::after {
  position: absolute;
  display: block;
  content: "";
  height: 50px;
  top: 58.7%;
  left: 21.65%;
  border-left: 1px solid #016dab;
  box-sizing: border-box;
}

.about_left .txt_wrap p .five::after {
  position: absolute;
  display: block;
  content: "";
  height: 50px;
  top: 64.8%;
  left: 21.65%;
  border-left: 1px solid #016dab;
  box-sizing: border-box;
}

.about_left .txt_wrap p .six::after {
  position: absolute;
  display: block;
  content: "";
  height: 50px;
  top: 71.1%;
  left: 21.65%;
  border-left: 1px solid #016dab;
  box-sizing: border-box;
}

.about_left .txt_wrap p .seven::after {
  position: absolute;
  display: block;
  content: "";
  height: 50px;
  top: 77.3%;
  left: 21.65%;
  border-left: 1px solid #016dab;
  box-sizing: border-box;
}

.about_left .txt_wrap p .eight::after {
  position: absolute;
  display: block;
  content: "";
  height: 50px;
  top: 83.7%;
  left: 21.65%;
  border-left: 1px solid #016dab;
  box-sizing: border-box;
}

.about_left .txt_wrap p .nine::after {
  position: absolute;
  display: block;
  content: "";
  height: 50px;
  top: 89.8%;
  left: 21.65%;
  border-left: 1px solid #016dab;
  box-sizing: border-box;
}

/* about_right */
.about_right .txt_wrap li {
  margin-bottom: 100px;
}

.about_right ul li:nth-child(1) img {
  width: 400px;
  height: 100px;
}

.about_right ul li:nth-child(2) img {
  width: 200px;
  height: 100px;
}

.about_right ul li:last-child img {
  width: 300px;
  height: 100px;
}

/* work */
/* slider.css 파일 첨부 */

/* about me */
/* .aboutme_photo {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
}

.bg_color {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 40%;
  left: 30%;
  border-radius: 50%;
  background: rgba(1, 109, 171, 0.8);
}

.aboutme_photo img {
  position: absolute;
  width: 200px;
  height: 340px;
  bottom: -0.5%;
  left: 25%;
} */

/*design*/
.design_box {
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 28%;
  left: 21.1%;
}

.design_box img:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 330px;
  top: 0%;
  right: 6%;
  object-fit: contain;
}

.design_box img:nth-child(2) {
  position: absolute;
  width: 390px;
  height: 100%;
  top: -15.7%;
  left: 0;
  object-fit: contain;
}

.design_box img:nth-child(3) {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 37%;
  right: 0%;
  object-fit: contain;
}

.design_box img:last-child {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 37%;
  right: 18.8%;
  object-fit: contain;
}

/* contact */
.contact {
  width: 100%;
  height: 100%;
}

.email_box {
  position: absolute;
  width: 600px;
  height: 280px;
  top: 28%;
  left: 21%;
  background: #fff;
}

.email_box:hover .email {
  background: #016dab;
  border-radius: 25px;
}

.email_box:hover .email > a {
  color: #fff;
}

.email_box .email:hover div {
  color: #016dab;
  background: #fff;
  box-shadow: 0 2px 0 #2b2b2b, 2px 4px 6px #2b2b2b;
}

.email_box .email {
  width: 100%;
  height: 280px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transition: all 0.15s linear;
}

.email_box .email > a {
  font-size: 3.6rem;
  font-weight: 800;
  color: #016dab;
}

.email_box .email div {
  width: 180px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  background: #016dab;
  border-radius: 25px;
  box-shadow: 0 2px 0 #016dab, 2px 4px 6px #016dab;
  transition: all 0.15s linear;
}

.email_box .email div a {
  display: block;
}

.email_box .text {
  width: 100%;
  height: 70px;
  font-size: 1.8rem;
  margin: 30px 0 0 25px;
  font-family: "Jalnan", sans-serif;
}

.email_box .thankyou {
  width: 100%;
  height: 30px;
  font-size: 2rem;
  margin-left: 25px;
  font-family: "Jalnan", sans-serif;
}

.kakao {
  position: absolute;
  width: 380px;
  height: 400px;
  top: 28%;
  right: 21%;
  transition: all 0.15s linear;
}

.kakao:hover {
  background: #ffd700;
  border-radius: 25px;
}

.kakao .qr {
  width: 227px;
  height: 229px;
  margin: 40px auto;
  background: url(../images/openchat.png) no-repeat center;
  background-size: cover;
}

.kakao .qr a {
  display: block;
  height: 100%;
}

.kakao p {
  font-size: 1.8rem;
  text-align: center;
  font-family: "Jalnan", sans-serif;
}

/* rolling */
.rollingH {
  overflow: hidden;
}

.rollingH .rolling_box {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  margin-top: 760px;
  white-space: nowrap;
}

.rollingH .aniText {
  display: inline-block;
  font-size: 13rem;
  animation: slide-left 12s linear infinite;
  padding: 0 20px;
  box-sizing: border-box;
  color: #2b2b2b;
  transition: 0.1s;
}

.rollingH .aniText:hover {
  color: #016dab;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* footer */
footer {
  width: 100%;
  height: 150px;
  background: #016dab;
}

footer .text,
footer .copy {
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
}

footer .text {
  padding-top: 3%;
}
